<footer>
  <div class="logo-box">
    <img src="./img/logo21SVG.svg" class="footer-logo" alt="David21 logo" />
  </div>
  <div class="footer-links">
    <ul class="footer-nav">
      <a href="#" class="footer-nav-link">
        <li class="footer-item">About</li>
      </a>

      <a href="#" class="footer-nav-link">
        <li class="footer-item">Beats</li>
      </a>

      <a href="#" class="footer-nav-link">
        <li class="footer-item">Contact</li>
      </a>
    </ul>

    <div class="footer-socials">
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="img/feather-sprite.svg#instagram" />
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="img/feather-sprite.svg#twitter" />
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="img/feather-sprite.svg#youtube" />
        </svg>
      </a>

      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="img/feather-sprite.svg#twitch" />
        </svg>
      </a>
    </div>
  </div>

  <div class="copyauth-box">
    <p class="copy">Copyright©2021</p>
    <p class="author">
      Site by
      <a
        href="https://www.fiverr.com/martinthewebdev?up_rollout=true"
        class="author-link"
        target="blank"
      >
        Martin Lednár</a
      >
    </p>
  </div>
</footer>
