<nav class="header__nav">
  <a href="./login.html">
    <img src="img/logo21.png" class="logo" alt="Hero image" />
  </a>

  <ul class="nav__box">
    <li class="nav__item">
      <a href="./index.html#about" class="nav__link">About</a>
    </li>
    <li class="nav__item"><a href="#" class="nav__link">Beats</a></li>

    <li class="nav__item">
      <a href="./index.html#contact" class="nav__link">Contact</a>
    </li>
  </ul>

  <button class="cart-btn">
    <svg class="feather bag">
      <use xlink:href="img/feather-sprite.svg#shopping-bag" />
    </svg>
    0
  </button>

  <div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
</nav>

<div class="mobile-nav-box">
  <div class="mobile-nav-wrapper">
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">About</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Beats</a>
      </li>

      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">Contact</a>
      </li>
    </ul>

    <button class="mobile-cart-btn">
      <svg class="feather mobile-bag">
        <use xlink:href="img/feather-sprite.svg#shopping-bag" />
      </svg>
      0
    </button>
  </div>
</div>

<div class="cart-content">
  <div class="box-x cart-minus">
    <div class="minus"></div>
  </div>
  <div class="cart-heading-box">
    <h2 class="cart-title">Your Items</h2>
  </div>
  <div class="cart-items-box">
    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>
    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-btn-box">
    <a href="#" class="cart-side-btn">Go to payment</a>
  </div>
</div>
