<div class="cart-content">
  <div class="box-x cart-minus">
    <div class="minus"></div>
  </div>
  <div class="cart-heading-box">
    <h2 class="cart-title">Your Items</h2>
  </div>
  <div class="cart-items-box">
    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>
    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>

    <div class="item">
      <button class="item-x">
        <div class="x-1"></div>
        <div class="x-2"></div>
      </button>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading">Lofi type beat</h3>
          <h4 class="item-author">David-21</h4>
          <h5 class="item-coauthors">Jakob, Koberec</h5>
        </div>
        <div class="item-price-box">
          <p class="item-price">5$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-btn-box">
    <a href="#" class="cart-side-btn btn-green">Go to payment</a>
  </div>
</div>
