<footer class="footer">
  <img src="/img/logo21SVG.svg" alt="David21 logo" class="footer-logo" />

  <div class="footer-content-box">
    <nav class="footer-nav">
      <li class="nav-item">
        <a href="/#about" class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a href="/shop" class="nav-link">Shop</a>
      </li>

      <li class="nav-item">
        <a href="/#contact" class="nav-link">Contact</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=help.beatsby21@gmail.com"
          target="_blank"
          >Support</a
        >
      </li>
    </nav>

    <div class="footer-socials">
      <a href="https://www.instagram.com/prod.david21/" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#instagram" />
        </svg>
      </a>
      <a href="https://twitter.com/proddavid21" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#twitter" />
        </svg>
      </a>
      <a
        href="https://www.youtube.com/channel/UC6HW6kwoKQMuHE8UJJz6a6w/videos"
        class="footer-link"
      >
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#youtube" />
        </svg>
      </a>

      <a href="https://www.twitch.tv/beatsby21" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#twitch" />
        </svg>
      </a>
    </div>
  </div>

  <p class="copy">Copyright © 2021</p>
  <p class="author">Site by <a href="#" class="auth-link">Martin Lednár</a></p>
</footer>
