<footer class="footer">
  <img src="/img/logo21SVG.svg" alt="David21 logo" class="footer-logo" />

  <div class="footer-content-box">
    <nav class="footer-nav">
      <li class="nav-item">
        <a href="/#about" class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a href="/shop" class="nav-link">Shop</a>
      </li>

      <li class="nav-item">
        <a href="/#contact" class="nav-link">Contact</a>
      </li>
    </nav>

    <div class="footer-socials">
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#instagram" />
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#twitter" />
        </svg>
      </a>
      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#youtube" />
        </svg>
      </a>

      <a href="#" class="footer-link">
        <svg class="feather footer-icon">
          <use xlink:href="/img/feather-sprite.svg#twitch" />
        </svg>
      </a>
    </div>
  </div>

  <p class="copy">Copyright © 2021</p>
  <p class="author">Site by <a href="#" class="auth-link">Martin Lednár</a></p>
</footer>
