<div class="mobile-nav-box">
  <div class="mobile-nav-wrapper">
    <ul class="mobile-nav">
      <li class="mobile-item nav-item">
        <a href="#about" class="mobile-link nav-link">About</a>
      </li>
      <li class="mobile-item nav-item">
        <a href="#" class="mobile-link nav-link">Shop</a>
      </li>

      <li class="mobile-item nav-item">
        <a href="#" class="mobile-link nav-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
