<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/logo21SVG.svg" type="image/x-icon" />
    <title>David21 || Admin menu</title>
  </head>
  <body>
    <div class="menu-wrapper">
      <a href="/add" class="beats-heading admin-heading">
        Add Songs
        <span class="section-heading-upper">Add Songs</span>
      </a>

      <a href="/delete" class="beats-heading admin-heading">
        Delete Songs
        <span class="section-heading-upper">Delete Songs</span>
      </a>

      <a href="/" class="beats-heading admin-heading">
        Main Site
        <span class="section-heading-upper">Main Site</span>
      </a>
    </div>
  </body>
</html>
