<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 62.5%;
        font-family: 'Montserrat', sans-serif;
        background-color: #121212;
      }
      .content-wrapper {
        width: 100%;
        height: 100vh;
        min-height: 700px;
      }

      .mail-heading {
        display: block;
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      .mail-message {
        width: 80%;
        word-break: keep-all;
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 1.8rem;
        margin: 2rem auto 2rem;
      }

      .mail-btn {
        text-decoration: none;
        display: block;
        color: #1db954;
        border: 1px solid var(--green);
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 2rem;
      }

      .mail-logo {
        display: block;
        text-align: left;
        padding-left: 5%;
        text-decoration: line-through;
        color: white;
        font-size: 3rem;
        font-weight: 300;
      }
    </style>
  </head>
  <body>
    <div class="content-wrapper">
      <h1 class="mail-logo">21</h1>
      <h1 class="mail-heading">New song order!</h1>
      <p class="mail-message"><%=message%></p>
      <a href="localhost:5000/add" class="mail-btn">Go to website</a>
    </div>
  </body>
</html>
