
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Offical online store of David21." />
        <link rel="stylesheet" href="/css/style.css" />
        <link
          rel="shortcut icon"
          href="/img/logo21SVG.svg"
          type="image/x-icon"
        />
        <title>David21 | Page Not Found</title>
      </head>
      <body>
        <div class="not-found-box">
          <div class="">
            <h1 class="beats-heading nf-heading">
              No music here...
              <span class="section-heading-upper notFound-heading"
                >No music here...</span
              >
            </h1>
            <p class="not-found-text">
              The page you're looking for does not exist.
            </p>
    
            <a href="/" class="btn-white not-found-btn">Back to website</a>
          </div>
            
            
        </div>
      </body>
    </html>
  </body>
</html>
