<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/logo21SVG.svg" type="image/x-icon" />
    <title>David21 | Success payment</title>
  </head>

  <body>
    <div class="success-wrapper">
      <div class="success-inner-wrapper">
        <h1 class="beats-heading success-heading">
          Thank you for your purchase!
          <span class="section-heading-upper" id="success-hs"
            >Thank you for your purchase!</span
          >
        </h1>

        <p class="success-msg">
          All bought songs will be send to this e-mail address: <%=buyEmail%>
        </p>

        <a class="btn-green success-btn" href="/">Back to homepage</a>
      </div>
    </div>
  </body>
</html>
